.full-width-card-box{
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    padding: 1.4rem 0.7rem 1.3rem 0.7rem;
    width: 100%;
    height: 6.25rem;
    .full-width-card-inner-padding{
        padding-left: inherit;
        display: flex;
        .full-width-card-partial{
            display: flex;
            align-items: center;
        }
    }
    .mini-card-icon{
        width: 36px;
        height: 36px;
    }
    .mini-card-text-big{
        padding-left: 6%;
        width: 100%;
        p{
            margin-bottom: 0px;
            font-family: $glance-font-Regular ;
            color: #707070;
            font-size: 15px;
        }
        .mini-card-value-text{
            h2{
                font-family: $glance-font-SemiBold;
                font-size: 25px;
            }
        }
    }
    .mini-card-text{
        padding-left: 6%;
        width: 70%;
        p{
            margin-bottom: 0px;
            font-family: $glance-font-Regular ;
            color: #707070;
            font-size: 15px;
        }
        .mini-card-value-text{
            h2{
                font-family: $glance-font-SemiBold;
                font-size: 25px;
            }
            h4{
                font-family: $glance-font-Bold;
                font-size: 20px;
                color:#273E4D;
            }
            img{
                margin-top: 0px;
                margin-left: 2px;
                width: 23px;
                height: 23px;
            }
        }

    }
    @media (min-width: 1200px){
        .col-xl-2-5 {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}