.main-title{
    font-size: 3.15rem;
    font-family: $glance-font-Bold;
    margin-bottom: 0;
}

.main-sub-title{
    font-size: 1.6rem;
    font-family: $glance-font-Medium;
    margin-top: 10px;
    color: #355468;
}
.main-item-icon{
    height: 2rem;
    width: 2rem;
}

.main-date-text{
    padding-left: 3%;
    h5{
        margin-left: 10px;
        font-size: 1.55rem;
        margin-bottom: 0;
    }
}

.main-inspection-record-view{
    padding-left: 0;
    margin-top: 15vh;
    .mini-view-btn{
        margin-left: 15px;
    }
}

.scrollable-view{
    overflow-y: scroll;
    overflow-x: auto;
    height: max-content;
    ::-webkit-scrollbar {
        display: none;
    }
}
.view-main-position-fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 21.2vw !important;
    padding-top: 4% !important;
    padding-right: 1.5vw !important;
    z-index: 1;
    background-color: white;
}
.main-description-text{
    color: #B9B9B9;
    font-size: 1.1rem;
    font-family: $font-Medium;
}
@media only screen and(min-width: 1300px){
    .col-xxl-7 {
        flex: 0 0 58.333333% !important;
        max-width: 58.333333% !important;
    }
    .col-xxl-5 {
        flex: 0 0 41.666667% !important;
        max-width: 41.666667% !important;
    }
}

.main-temp-margin{
    margin-top: 327px;
}