@font-face {
    font-family: 'Sukhumvit-Bold';
    src: local('Sukhumvit-Bold'), url('../fonts/SukhumvitSet/SukhumvitSet-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sukhumvit-Light';
  src: local('Sukhumvit-Light'), url('../fonts/SukhumvitSet/SukhumvitSet-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Sukhumvit-Medium';
  src: local('Sukhumvit-Medium'), url('../fonts/SukhumvitSet/SukhumvitSet-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Sukhumvit-SemiBold';
  src: local('Sukhumvit-SemiBold'), url('../fonts/SukhumvitSet/SukhumvitSet-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Sukhumvit-Text';
  src: local('Sukhumvit-Text'), url('../fonts/SukhumvitSet/SukhumvitSet-Text.ttf') format('truetype');
}

@font-face {
  font-family: 'Sukhumvit-Thin';
  src: local('Sukhumvit-Thin'), url('../fonts/SukhumvitSet/SukhumvitSet-Thin.ttf') format('truetype');
}


@font-face {
  font-family: 'Quicksand-Bold';
  src: local('Quicksand-Bold'), url('../fonts/QuickSand/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
font-family: 'Quicksand-Light';
src: local('Quicksand-Light'), url('../fonts/QuickSand/Quicksand-Light.ttf') format('truetype');
}

@font-face {
font-family: 'Quicksand-Medium';
src: local('Quicksand-Medium'), url('../fonts/QuickSand/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
font-family: 'Quicksand-SemiBold';
src: local('Quicksand-SemiBold'), url('../fonts/QuickSand/Quicksand-SemiBold.ttf') format('truetype');
}

@font-face {
font-family: 'Quicksand-Regular';
src: local('Quicksand-Regular'), url('../fonts/QuickSand/Quicksand-Regular.ttf') format('truetype');
}
