//colors
$white: #FFFFFF;



// fonts
$font-Bold: 'Sukhumvit-Bold';
$font-Light: 'Sukhumvit-Light';
$font-Medium: 'Sukhumvit-Medium';
$font-SemiBold: 'Sukhumvit-SemiBold';
$font-Text: 'Sukhumvit-Text';
$font-Thin: 'Sukhumvit-Thin';

// Glance fonts
$glance-font-Bold: 'QuickSand-Bold';
$glance-font-Light: 'QuickSand-Light';
$glance-font-Medium: 'QuickSand-Medium';
$glance-font-SemiBold: 'QuickSand-SemiBold';
$glance-font-Regular: 'QuickSand-Regular';